In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline
import seaborn as sns
import sklearn as sk

In [6]:
df = pd.read_csv('~/module1project/dsc-v2-mod1-final-project-dc-ds-career-042219/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [7]:
df.shape

(21597, 21)

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,21597.0,4.580474e+09,2.876736e+09,1.000102e+06,2.123049e+09,3.904930e+09,7.308900e+09,9.900000e+09
price,21597.0,5.402966e+05,3.673681e+05,7.800000e+04,3.220000e+05,4.500000e+05,6.450000e+05,7.700000e+06
bedrooms,21597.0,3.373200e+00,9.262989e-01,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,3.300000e+01
bathrooms,21597.0,2.115826e+00,7.689843e-01,5.000000e-01,1.750000e+00,2.250000e+00,2.500000e+00,8.000000e+00
sqft_living,21597.0,2.080322e+03,9.181061e+02,3.700000e+02,1.430000e+03,1.910000e+03,2.550000e+03,1.354000e+04
sqft_lot,21597.0,1.509941e+04,4.141264e+04,5.200000e+02,5.040000e+03,7.618000e+03,1.068500e+04,1.651359e+06
floors,21597.0,1.494096e+00,5.396828e-01,1.000000e+00,1.000000e+00,1.500000e+00,2.000000e+00,3.500000e+00
waterfront,19221.0,7.595859e-03,8.682485e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
view,21534.0,2.338627e-01,7.656862e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
condition,21597.0,3.409825e+00,6.505456e-01,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00
grade,21597.0,7.657915e+00,1.173200e+00,3.000000e+00,7.000000e+00,7.000000e+00,8.000000e+00,1.300000e+01
sqft_above,21597.0,1.788597e+03,8.277598e+02,3.700000e+02,1.190000e+03,1.560000e+03,2.210000e+03,9.410000e+03
yr_built,21597.0,1.971000e+03,2.937523e+01,1.900000e+03,1.951000e+03,1.975000e+03,1.997000e+03,2.015000e+03
yr_renovated,17755.0,8.363678e+01,3.999464e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03
zipcode,21597.0,9.807795e+04,5.351307e+01,9.800100e+04,9.803300e+04,9.806500e+04,9.811800e+04,9.819900e+04
lat,21597.0,4.756009e+01,1.385518e-01,4.715590e+01,4.747110e+01,4.757180e+01,4.767800e+01,4.777760e+01
long,21597.0,-1.222140e+02,1.407235e-01,-1.225190e+02,-1.223280e+02,-1.222310e+02,-1.221250e+02,-1.213150e+02
sqft_living15,21597.0,1.986620e+03,6.852305e+02,3.990000e+02,1.490000e+03,1.840000e+03,2.360000e+03,6.210000e+03
sqft_lot15,21597.0,1.275828e+04,2.727444e+04,6.510000e+02,5.100000e+03,7.620000e+03,1.008300e+04,8.712000e+05

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [13]:
df.isna().any()

id               False
date             False
price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront        True
view              True
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated      True
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
dtype: bool

In [14]:
df.isna().sum()
#Lot of

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [15]:
df.isna().sum().sum()

6281

We have 6,281 missing values broken down as follows: yr_renovates 3842, waterfront 2376, and view 63. We have to come up with a strategy to deal with them.

In [16]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [17]:
df.dtypes[df.dtypes == 'object']

date             object
sqft_basement    object
dtype: object

In [18]:
for feature in df.dtypes[df.dtypes == 'object'].index:
    print(feature)

date
sqft_basement

In [19]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,...,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570

In [21]:
df[df['sqft_basement'] == '?']
# We 454 rows where df['sqft_basement'] == '?', we have to deal with those

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
42,7203220400,7/7/2014,861990.0,5,2.75,3595,5639,2.0,0.0,0.0,...,9,3595,?,2014,0.0,98053,47.6848,-122.016,3625,5639
79,1531000030,3/23/2015,720000.0,4,2.50,3450,39683,2.0,0.0,0.0,...,10,3450,?,2002,0.0,98010,47.3420,-122.025,3350,39750
112,2525310310,9/16/2014,272500.0,3,1.75,1540,12600,1.0,0.0,0.0,...,7,1160,?,1980,0.0,98038,47.3624,-122.031,1540,11656
115,3626039325,11/21/2014,740500.0,3,3.50,4380,6350,2.0,0.0,0.0,...,8,2780,?,1900,NaN,98117,47.6981,-122.368,1830,6350
217,1909600046,7/3/2014,445838.0,3,2.50,2250,5692,2.0,0.0,0.0,...,8,2250,?,2000,0.0,98146,47.5133,-122.379,1320,5390
309,3204800200,1/8/2015,665000.0,4,2.75,3320,10574,2.0,NaN,0.0,...,8,2220,?,1960,0.0,98056,47.5376,-122.180,2720,8330
384,713500030,7/28/2014,1350000.0,5,3.50,4800,14984,2.0,0.0,2.0,...,11,3480,?,1998,0.0,98006,47.5543,-122.148,4050,19009
508,5113400431,5/8/2014,615000.0,2,1.00,1540,6872,1.0,0.0,0.0,...,7,820,?,1946,0.0,98119,47.6454,-122.373,1420,5538
633,8832900550,9/12/2014,650000.0,3,2.50,2690,11575,1.0,0.0,3.0,...,8,2130,?,1957,0.0,98028,47.7605,-122.267,2390,11782
645,1545804340,4/9/2015,240000.0,3,1.75,1760,6500,1.0,0.0,0.0,...,7,1150,?,1987,0.0,98038,47.3647,-122.050,1760,8125
664,1775920350,11/24/2014,323000.0,3,1.00,1290,12231,1.0,0.0,0.0,...,7,1290,?,1976,0.0,98072,47.7404,-122.110,1390,11632
671,5101405124,9/12/2014,435000.0,4,2.50,1700,6380,1.0,0.0,0.0,...,7,850,?,1940,0.0,98115,47.6988,-122.319,1380,6380
685,2346200030,1/5/2015,802541.0,5,2.75,2990,6768,2.0,0.0,0.0,...,9,2990,?,2014,0.0,98006,47.5462,-122.182,2870,6768
755,5149300200,9/2/2014,316500.0,3,1.75,1600,14250,1.0,0.0,0.0,...,7,1070,?,1979,0.0,98023,47.3272,-122.355,2140,14960
881,7749500370,10/21/2014,225000.0,4,2.25,1800,9350,1.0,0.0,0.0,...,8,1800,?,1969,0.0,98092,47.2959,-122.191,2060,8800
890,1962200435,11/10/2014,1010000.0,4,1.00,1820,5400,1.5,NaN,0.0,...,8,1820,?,1923,2014.0,98102,47.6476,-122.318,1820,5400
995,8856004730,9/17/2014,199950.0,2,2.75,1590,20917,1.5,0.0,0.0,...,5,1590,?,1920,NaN,98001,47.2786,-122.250,1310,6000
1073,9209900270,2/5/2015,515000.0,2,1.00,1060,4228,1.0,0.0,0.0,...,7,860,?,1906,0.0,98112,47.6231,-122.293,1060,4187
1105,2505500030,7/3/2014,1130000.0,4,2.50,3160,8281,2.0,0.0,0.0,...,9,3160,?,1995,NaN,98033,47.6699,-122.195,3000,8281
1205,194000505,9/4/2014,651000.0,3,2.00,1940,6440,1.0,0.0,2.0,...,7,970,?,1940,0.0,98116,47.5664,-122.389,1730,4640
1354,3904940070,2/27/2015,643000.0,4,2.50,2270,8391,2.0,0.0,0.0,...,8,2270,?,1988,NaN,98029,47.5740,-122.013,2420,8391
1356,5589300370,4/1/2015,282000.0,4,1.00,1200,11111,1.5,0.0,0.0,...,7,1200,?,1949,0.0,98155,47.7529,-122.306,1350,9113
1366,3905000340,7/24/2014,672000.0,4,2.50,2440,10049,2.0,NaN,0.0,...,9,2440,?,1989,0.0,98029,47.5744,-121.993,2820,8484
1476,2412600030,6/23/2014,235000.0,6,3.00,2180,7956,2.0,0.0,0.0,...,7,2180,?,1980,0.0,98003,47.3054,-122.305,2214,7684
1558,1972201820,10/16/2014,610000.0,4,2.00,2130,2620,1.5,0.0,0.0,...,7,1650,?,1919,NaN,98103,47.6515,-122.346,1330,2719
1600,3623500135,3/26/2015,800000.0,4,2.25,2350,10664,1.0,0.0,1.0,...,7,1510,?,1952,0.0,98040,47.5743,-122.238,2350,10140
1662,65000260,8/20/2014,830000.0,3,2.50,3370,6550,2.0,0.0,2.0,...,8,2840,?,1912,2001.0,98126,47.5442,-122.380,1500,6550
1669,1785500132,11/18/2014,293000.0,3,1.00,1020,7650,1.0,0.0,0.0,...,7,1020,?,1940,0.0,98133,47.7198,-122.352,1440,7650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20275,9478550430,4/29/2015,316475.0,4,2.50,1740,4642,2.0,0.0,0.0,...,7,1740,?,2012,NaN,98042,47.3686,-122.117,1950,4642
20333,7502800050,7/9/2014,659950.0,4,2.75,3510,9400,2.0,0.0,0.0,...,9,3510,?,2014,NaN,98059,47.4827,-122.131,3550,9429
20510,2902200142,6/5/2014,584000.0,3,2.50,1480,1485,2.0,NaN,0.0,...,8,1280,?,2007,0.0,98102,47.6376,-122.326,1470,1277
20553,8895800110,8/5/2014,1300000.0,5,4.00,3870,5929,2.0,0.0,0.0,...,10,3870,?,2014,NaN,98052,47.6965,-122.134,3600,5625
20554,3879900750,9/10/2014,579000.0,2,2.50,1280,1051,2.0,0.0,0.0,...,8,1080,?,2009,0.0,98119,47.6273,-122.359,1580,1279
20676,3274800505,4/24/2015,502000.0,3,2.50,1600,3073,3.0,0.0,0.0,...,8,1600,?,2009,0.0,98144,47.5934,-122.298,1130,2921
20702,8850000517,7/31/2014,480000.0,3,2.50,1590,1431,2.0,0.0,0.0,...,8,1060,?,2010,0.0,98144,47.5893,-122.309,1620,1548
20741,3022900070,9/29/2014,348000.0,3,2.00,2360,6145,1.0,0.0,0.0,...,8,2360,?,2011,0.0,98030,47.3564,-122.198,2304,5880
20766,3013300685,3/18/2015,760000.0,4,3.25,2690,3995,2.0,NaN,0.0,...,9,2060,?,2014,0.0,98136,47.5320,-122.384,1810,4590
20853,6130500120,4/17/2015,428000.0,3,2.50,1650,2201,3.0,0.0,0.0,...,8,1650,?,2007,0.0,98133,47.7108,-122.333,1650,1965
20903,9578140180,6/11/2014,329950.0,3,2.50,2456,7566,2.0,0.0,0.0,...,8,2456,?,2012,0.0,98023,47.2970,-122.351,2478,7212
20929,2568200120,12/15/2014,730000.0,5,2.75,2870,6593,2.0,0.0,0.0,...,9,2870,?,2006,0.0,98052,47.7075,-122.102,3150,6593
20931,2767601750,8/15/2014,500000.0,3,1.50,1220,962,3.0,0.0,0.0,...,8,1220,?,2014,0.0,98107,47.6740,-122.387,1510,2501
20934,1689401526,3/23/2015,605000.0,3,2.50,1500,1119,3.0,0.0,2.0,...,7,1110,?,2008,NaN,98109,47.6327,-122.346,1500,1057
20992,9274200322,8/20/2014,580000.0,3,2.50,1740,1236,3.0,0.0,2.0,...,8,1740,?,2008,0.0,98116,47.5891,-122.387,1740,1280
21000,291310180,6/13/2014,379500.0,3,2.25,1410,1287,2.0,0.0,0.0,...,7,1290,?,2005,0.0,98027,47.5344,-122.068,1490,1435
21017,7203230040,10/27/2014,1050000.0,5,3.25,4240,9588,2.0,0.0,0.0,...,9,4240,?,2014,0.0,98053,47.6901,-122.018,4080,8425
21087,8564860130,2/2/2015,598992.0,5,3.50,3440,6037,2.0,0.0,0.0,...,9,3440,?,2014,0.0,98045,47.4765,-121.734,3270,6037
21109,3438500250,6/23/2014,515000.0,5,3.25,2910,5027,2.0,0.0,0.0,...,8,2040,?,2013,0.0,98106,47.5543,-122.359,2910,5027
21210,3278600680,6/27/2014,235000.0,1,1.50,1170,1456,2.0,0.0,0.0,...,8,1070,?,2007,0.0,98126,47.5493,-122.372,1360,1730
21236,2309710130,7/15/2014,272000.0,4,2.00,1870,6551,1.0,NaN,3.0,...,7,1870,?,2009,0.0,98022,47.1934,-121.977,2280,5331
21248,2838000130,2/13/2015,722000.0,3,2.50,2230,4850,2.0,0.0,0.0,...,8,2230,?,2014,NaN,98133,47.7295,-122.334,2230,4513
21356,6169901185,5/20/2014,490000.0,5,3.50,4460,2975,3.0,0.0,2.0,...,10,3280,?,2015,NaN,98119,47.6313,-122.370,2490,4231
21357,2309710150,8/4/2014,325000.0,4,3.25,2800,5291,2.0,0.0,0.0,...,7,2800,?,2011,0.0,98022,47.1937,-121.977,2380,5291
21365,9521100301,5/7/2014,339950.0,2,1.00,820,681,3.0,0.0,0.0,...,8,820,?,2006,0.0,98103,47.6619,-122.352,820,1156
21442,3226049565,7/11/2014,504600.0,5,3.00,2360,5000,1.0,0.0,0.0,...,7,1390,?,2008,0.0,98103,47.6931,-122.330,2180,5009
21447,1760650900,7/21/2014,337500.0,4,2.50,2330,4907,2.0,0.0,0.0,...,7,2330,?,2013,NaN,98042,47.3590,-122.081,2300,3836
21473,6021503707,1/20/2015,352500.0,2,2.50,980,1010,3.0,NaN,0.0,...,8,980,?,2008,0.0,98117,47.6844,-122.387,980,1023
21519,2909310100,10/15/2014,332000.0,4,2.50,2380,5737,2.0,0.0,0.0,...,7,2380,?,2010,0.0,98023,47.2815,-122.356,2380,5396
21581,191100405,4/21/2015,1580000.0,4,3.25,3410,10125,2.0,0.0,0.0,...,10,3410,?,2007,NaN,98040,47.5653,-122.223,2290,10125

In [22]:
df.tail(15)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21582,8956200760,10/13/2014,541800.0,4,2.50,3118,7866,2.0,NaN,2.0,...,9,3118,0.0,2014,0.0,98001,47.2931,-122.264,2673,6500
21583,7202300110,9/15/2014,810000.0,4,3.00,3990,7838,2.0,0.0,0.0,...,9,3990,0.0,2003,NaN,98053,47.6857,-122.046,3370,6814
21584,249000205,10/15/2014,1540000.0,5,3.75,4470,8088,2.0,0.0,0.0,...,11,4470,0.0,2008,0.0,98004,47.6321,-122.200,2780,8964
21585,5100403806,4/7/2015,467000.0,3,2.50,1425,1179,3.0,0.0,0.0,...,8,1425,0.0,2008,0.0,98125,47.6963,-122.318,1285,1253
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,NaN,0.0,...,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,NaN,0.0,...,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21588,9834201367,1/26/2015,429000.0,3,2.00,1490,1126,3.0,0.0,0.0,...,8,1490,0.0,2014,0.0,98144,47.5699,-122.288,1400,1230
21589,3448900210,10/14/2014,610685.0,4,2.50,2520,6023,2.0,0.0,NaN,...,9,2520,0.0,2014,0.0,98056,47.5137,-122.167,2520,6023
21590,7936000429,3/26/2015,1010000.0,4,3.50,3510,7200,2.0,0.0,0.0,...,9,2600,910.0,2009,0.0,98136,47.5537,-122.398,2050,6200
21591,2997800021,2/19/2015,475000.0,3,2.50,1310,1294,2.0,0.0,0.0,...,8,1180,130.0,2008,0.0,98116,47.5773,-122.409,1330,1265
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [37]:
df[df['sqft_basement'] == '0.0']
# 12826 rows

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,...,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
22,7137970340,7/3/2014,285000.0,5,2.50,2270,6300,2.0,0.0,0.0,...,8,2270,0.0,1995,0.0,98092,47.3266,-122.169,2240,7005
23,8091400200,5/16/2014,252700.0,2,1.50,1070,9643,1.0,NaN,0.0,...,7,1070,0.0,1985,NaN,98030,47.3533,-122.166,1220,8386
24,3814700200,11/20/2014,329000.0,3,2.25,2450,6500,2.0,0.0,0.0,...,8,2450,0.0,1985,0.0,98030,47.3739,-122.172,2200,6865
25,1202000200,11/3/2014,233000.0,3,2.00,1710,4697,1.5,0.0,0.0,...,6,1710,0.0,1941,0.0,98002,47.3048,-122.218,1030,4705
27,3303700376,12/1/2014,667000.0,3,1.00,1400,1581,1.5,0.0,0.0,...,8,1400,0.0,1909,0.0,98112,47.6221,-122.314,1860,3861
29,1873100390,3/2/2015,719000.0,4,2.50,2570,7173,2.0,0.0,0.0,...,8,2570,0.0,2005,0.0,98052,47.7073,-122.110,2630,6026
30,8562750320,11/10/2014,580500.0,3,2.50,2320,3980,2.0,0.0,0.0,...,8,2320,0.0,2003,0.0,98027,47.5391,-122.070,2580,3980
31,2426039314,12/1/2014,280000.0,2,1.50,1190,1265,3.0,0.0,0.0,...,7,1190,0.0,2005,0.0,98133,47.7274,-122.357,1390,1756
33,7589200193,11/10/2014,535000.0,3,1.00,1090,3000,1.5,0.0,0.0,...,8,1090,0.0,1929,0.0,98117,47.6889,-122.375,1570,5080
37,2768000400,12/30/2014,640000.0,4,2.00,2360,6000,2.0,0.0,0.0,...,8,2360,0.0,1904,0.0,98107,47.6702,-122.362,1730,4700
39,2078500320,6/20/2014,605000.0,4,2.50,2620,7553,2.0,0.0,0.0,...,8,2620,0.0,1996,0.0,98056,47.5301,-122.180,2620,11884
40,5547700270,7/15/2014,625000.0,4,2.50,2570,5520,2.0,NaN,0.0,...,9,2570,0.0,2000,NaN,98074,47.6145,-122.027,2470,5669
43,9270200160,10/28/2014,685000.0,3,1.00,1570,2280,2.0,0.0,0.0,...,7,1570,0.0,1922,0.0,98119,47.6413,-122.364,1580,2640
45,8035350320,7/18/2014,488000.0,3,2.50,3160,13603,2.0,0.0,0.0,...,8,3160,0.0,2003,NaN,98019,47.7443,-121.977,3050,9232
46,8945200830,3/25/2015,210490.0,3,1.00,990,8528,1.0,0.0,0.0,...,6,990,0.0,1966,0.0,98023,47.3066,-122.371,1228,8840
47,4178300310,7/16/2014,785000.0,4,2.50,2290,13416,2.0,0.0,0.0,...,9,2290,0.0,1981,0.0,98007,47.6194,-122.151,2680,13685
48,9215400105,4/28/2015,450000.0,3,1.75,1250,5963,1.0,0.0,0.0,...,7,1250,0.0,1953,0.0,98115,47.6796,-122.301,970,5100
50,5245600105,9/16/2014,228000.0,3,1.00,1190,9199,1.0,0.0,0.0,...,7,1190,0.0,1955,0.0,98148,47.4258,-122.322,1190,9364
55,9822700295,5/12/2014,885000.0,4,2.50,2830,5000,2.0,NaN,0.0,...,9,2830,0.0,1995,0.0,98105,47.6597,-122.290,1950,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21553,6021503705,10/15/2014,329000.0,2,2.50,980,1020,3.0,0.0,0.0,...,8,980,0.0,2008,NaN,98117,47.6844,-122.387,980,1023
21556,6056111067,7/7/2014,230000.0,3,1.75,1140,1201,2.0,0.0,0.0,...,8,1140,0.0,2014,NaN,98108,47.5637,-122.295,1210,1552
21558,1931300090,5/7/2014,610950.0,3,3.00,1680,1570,3.0,0.0,0.0,...,8,1680,0.0,2014,0.0,98103,47.6572,-122.346,1640,4800
21559,9578500790,11/11/2014,399950.0,3,2.50,3087,5002,2.0,0.0,0.0,...,8,3087,0.0,2014,0.0,98023,47.2974,-122.349,2927,5183
21562,567000385,6/23/2014,362500.0,2,1.50,940,1768,2.0,NaN,0.0,...,7,940,0.0,2009,0.0,98144,47.5925,-122.295,1130,1159
21564,7853420110,10/3/2014,594866.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,0.0,98065,47.5184,-121.886,2850,6000
21565,7853420110,5/4/2015,625000.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000
21567,2025049203,6/10/2014,399950.0,2,1.00,710,1157,2.0,NaN,0.0,...,7,710,0.0,1943,0.0,98102,47.6413,-122.329,1370,1173
21569,3832050760,8/28/2014,270000.0,3,2.50,1870,5000,2.0,0.0,0.0,...,7,1870,0.0,2009,0.0,98042,47.3339,-122.055,2170,5399
21570,2767604724,10/15/2014,505000.0,2,2.50,1430,1201,3.0,0.0,0.0,...,8,1430,0.0,2009,0.0,98107,47.6707,-122.381,1430,1249
21571,6632300207,3/5/2015,385000.0,3,2.50,1520,1488,3.0,0.0,0.0,...,8,1520,0.0,2006,0.0,98125,47.7337,-122.309,1520,1497
21573,7570050450,9/10/2014,347500.0,3,2.50,2540,4760,2.0,0.0,0.0,...,8,2540,0.0,2010,0.0,98038,47.3452,-122.022,2540,4571
21575,4140940150,10/2/2014,572000.0,4,2.75,2770,3852,2.0,0.0,0.0,...,8,2770,0.0,2014,NaN,98178,47.5001,-122.232,1810,5641
21576,1931300412,4/16/2015,475000.0,3,2.25,1190,1200,3.0,0.0,0.0,...,8,1190,0.0,2008,NaN,98103,47.6542,-122.346,1180,1224
21577,8672200110,3/17/2015,1090000.0,5,3.75,4170,8142,2.0,0.0,2.0,...,10,4170,0.0,2006,NaN,98056,47.5354,-122.181,3030,7980
21578,5087900040,10/17/2014,350000.0,4,2.75,2500,5995,2.0,NaN,0.0,...,8,2500,0.0,2008,0.0,98042,47.3749,-122.107,2530,5988
21580,7502800100,8/13/2014,679950.0,5,2.75,3600,9437,2.0,0.0,0.0,...,9,3600,0.0,2014,0.0,98059,47.4822,-122.131,3550,9421
21582,8956200760,10/13/2014,541800.0,4,2.50,3118,7866,2.0,NaN,2.0,...,9,3118,0.0,2014,0.0,98001,47.2931,-122.264,2673,6500
21583,7202300110,9/15/2014,810000.0,4,3.00,3990,7838,2.0,0.0,0.0,...,9,3990,0.0,2003,NaN,98053,47.6857,-122.046,3370,6814
21584,249000205,10/15/2014,1540000.0,5,3.75,4470,8088,2.0,0.0,0.0,...,11,4470,0.0,2008,0.0,98004,47.6321,-122.200,2780,8964
21585,5100403806,4/7/2015,467000.0,3,2.50,1425,1179,3.0,0.0,0.0,...,8,1425,0.0,2008,0.0,98125,47.6963,-122.318,1285,1253
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,NaN,0.0,...,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,NaN,0.0,...,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21588,9834201367,1/26/2015,429000.0,3,2.00,1490,1126,3.0,0.0,0.0,...,8,1490,0.0,2014,0.0,98144,47.5699,-122.288,1400,1230
21589,3448900210,10/14/2014,610685.0,4,2.50,2520,6023,2.0,0.0,NaN,...,9,2520,0.0,2014,0.0,98056,47.5137,-122.167,2520,6023
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [31]:
df[df['waterfront'] == 0.0]
# 19075 rows

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,...,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,7,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,0.0,3.0,...,9,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
20,6300500875,5/14/2014,385000.0,4,1.75,1620,4980,1.0,0.0,0.0,...,7,860,760.0,1947,0.0,98133,47.7025,-122.341,1400,4980
21,2524049179,8/26/2014,2000000.0,3,2.75,3050,44867,1.0,0.0,4.0,...,9,2330,720.0,1968,0.0,98040,47.5316,-122.233,4110,20336
22,7137970340,7/3/2014,285000.0,5,2.50,2270,6300,2.0,0.0,0.0,...,8,2270,0.0,1995,0.0,98092,47.3266,-122.169,2240,7005
24,3814700200,11/20/2014,329000.0,3,2.25,2450,6500,2.0,0.0,0.0,...,8,2450,0.0,1985,0.0,98030,47.3739,-122.172,2200,6865
25,1202000200,11/3/2014,233000.0,3,2.00,1710,4697,1.5,0.0,0.0,...,6,1710,0.0,1941,0.0,98002,47.3048,-122.218,1030,4705
26,1794500383,6/26/2014,937000.0,3,1.75,2450,2691,2.0,0.0,0.0,...,8,1750,700.0,1915,NaN,98119,47.6386,-122.360,1760,3573
27,3303700376,12/1/2014,667000.0,3,1.00,1400,1581,1.5,0.0,0.0,...,8,1400,0.0,1909,0.0,98112,47.6221,-122.314,1860,3861
28,5101402488,6/24/2014,438000.0,3,1.75,1520,6380,1.0,0.0,0.0,...,7,790,730.0,1948,NaN,98115,47.6950,-122.304,1520,6235
29,1873100390,3/2/2015,719000.0,4,2.50,2570,7173,2.0,0.0,0.0,...,8,2570,0.0,2005,0.0,98052,47.7073,-122.110,2630,6026
30,8562750320,11/10/2014,580500.0,3,2.50,2320,3980,2.0,0.0,0.0,...,8,2320,0.0,2003,0.0,98027,47.5391,-122.070,2580,3980
31,2426039314,12/1/2014,280000.0,2,1.50,1190,1265,3.0,0.0,0.0,...,7,1190,0.0,2005,0.0,98133,47.7274,-122.357,1390,1756
32,461000390,6/24/2014,687500.0,4,1.75,2330,5000,1.5,0.0,0.0,...,7,1510,820.0,1929,0.0,98117,47.6823,-122.368,1460,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21559,9578500790,11/11/2014,399950.0,3,2.50,3087,5002,2.0,0.0,0.0,...,8,3087,0.0,2014,0.0,98023,47.2974,-122.349,2927,5183
21561,3881900317,1/23/2015,579000.0,4,3.25,1900,2631,2.0,0.0,0.0,...,9,1250,650.0,2014,0.0,98144,47.5869,-122.311,1710,4502
21563,7011201004,5/29/2014,645000.0,3,3.25,1730,1229,2.0,0.0,2.0,...,9,1320,410.0,2008,0.0,98119,47.6374,-122.369,1710,1686
21564,7853420110,10/3/2014,594866.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,0.0,98065,47.5184,-121.886,2850,6000
21565,7853420110,5/4/2015,625000.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000
21566,3052700432,11/12/2014,490000.0,3,2.25,1500,1290,2.0,0.0,0.0,...,8,1220,280.0,2006,0.0,98117,47.6785,-122.375,1460,1375
21568,952006823,12/2/2014,380000.0,3,2.50,1260,900,2.0,0.0,0.0,...,7,940,320.0,2007,0.0,98116,47.5621,-122.384,1310,1415
21569,3832050760,8/28/2014,270000.0,3,2.50,1870,5000,2.0,0.0,0.0,...,7,1870,0.0,2009,0.0,98042,47.3339,-122.055,2170,5399
21570,2767604724,10/15/2014,505000.0,2,2.50,1430,1201,3.0,0.0,0.0,...,8,1430,0.0,2009,0.0,98107,47.6707,-122.381,1430,1249
21571,6632300207,3/5/2015,385000.0,3,2.50,1520,1488,3.0,0.0,0.0,...,8,1520,0.0,2006,0.0,98125,47.7337,-122.309,1520,1497
21572,2767600688,11/13/2014,414500.0,2,1.50,1210,1278,2.0,0.0,0.0,...,8,1020,190.0,2007,0.0,98117,47.6756,-122.375,1210,1118
21573,7570050450,9/10/2014,347500.0,3,2.50,2540,4760,2.0,0.0,0.0,...,8,2540,0.0,2010,0.0,98038,47.3452,-122.022,2540,4571
21574,7430200100,5/14/2014,1220000.0,4,3.50,4910,9444,1.5,0.0,0.0,...,11,3110,1800.0,2007,0.0,98074,47.6502,-122.066,4560,11063
21575,4140940150,10/2/2014,572000.0,4,2.75,2770,3852,2.0,0.0,0.0,...,8,2770,0.0,2014,NaN,98178,47.5001,-122.232,1810,5641
21576,1931300412,4/16/2015,475000.0,3,2.25,1190,1200,3.0,0.0,0.0,...,8,1190,0.0,2008,NaN,98103,47.6542,-122.346,1180,1224
21577,8672200110,3/17/2015,1090000.0,5,3.75,4170,8142,2.0,0.0,2.0,...,10,4170,0.0,2006,NaN,98056,47.5354,-122.181,3030,7980
21579,1972201967,10/31/2014,520000.0,2,2.25,1530,981,3.0,0.0,0.0,...,8,1480,50.0,2006,NaN,98103,47.6533,-122.346,1530,1282
21580,7502800100,8/13/2014,679950.0,5,2.75,3600,9437,2.0,0.0,0.0,...,9,3600,0.0,2014,0.0,98059,47.4822,-122.131,3550,9421
21581,191100405,4/21/2015,1580000.0,4,3.25,3410,10125,2.0,0.0,0.0,...,10,3410,?,2007,NaN,98040,47.5653,-122.223,2290,10125
21583,7202300110,9/15/2014,810000.0,4,3.00,3990,7838,2.0,0.0,0.0,...,9,3990,0.0,2003,NaN,98053,47.6857,-122.046,3370,6814
21584,249000205,10/15/2014,1540000.0,5,3.75,4470,8088,2.0,0.0,0.0,...,11,4470,0.0,2008,0.0,98004,47.6321,-122.200,2780,8964
21585,5100403806,4/7/2015,467000.0,3,2.50,1425,1179,3.0,0.0,0.0,...,8,1425,0.0,2008,0.0,98125,47.6963,-122.318,1285,1253
21588,9834201367,1/26/2015,429000.0,3,2.00,1490,1126,3.0,0.0,0.0,...,8,1490,0.0,2014,0.0,98144,47.5699,-122.288,1400,1230
21589,3448900210,10/14/2014,610685.0,4,2.50,2520,6023,2.0,0.0,NaN,...,9,2520,0.0,2014,0.0,98056,47.5137,-122.167,2520,6023
21590,7936000429,3/26/2015,1010000.0,4,3.50,3510,7200,2.0,0.0,0.0,...,9,2600,910.0,2009,0.0,98136,47.5537,-122.398,2050,6200
21591,2997800021,2/19/2015,475000.0,3,2.50,1310,1294,2.0,0.0,0.0,...,8,1180,130.0,2008,0.0,98116,47.5773,-122.409,1330,1265
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [32]:
df[df['view'] == 0.0]
#  19422 rows

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,NaN,0.0,...,8,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,7,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
20,6300500875,5/14/2014,385000.0,4,1.75,1620,4980,1.0,0.0,0.0,...,7,860,760.0,1947,0.0,98133,47.7025,-122.341,1400,4980
22,7137970340,7/3/2014,285000.0,5,2.50,2270,6300,2.0,0.0,0.0,...,8,2270,0.0,1995,0.0,98092,47.3266,-122.169,2240,7005
23,8091400200,5/16/2014,252700.0,2,1.50,1070,9643,1.0,NaN,0.0,...,7,1070,0.0,1985,NaN,98030,47.3533,-122.166,1220,8386
24,3814700200,11/20/2014,329000.0,3,2.25,2450,6500,2.0,0.0,0.0,...,8,2450,0.0,1985,0.0,98030,47.3739,-122.172,2200,6865
25,1202000200,11/3/2014,233000.0,3,2.00,1710,4697,1.5,0.0,0.0,...,6,1710,0.0,1941,0.0,98002,47.3048,-122.218,1030,4705
26,1794500383,6/26/2014,937000.0,3,1.75,2450,2691,2.0,0.0,0.0,...,8,1750,700.0,1915,NaN,98119,47.6386,-122.360,1760,3573
27,3303700376,12/1/2014,667000.0,3,1.00,1400,1581,1.5,0.0,0.0,...,8,1400,0.0,1909,0.0,98112,47.6221,-122.314,1860,3861
28,5101402488,6/24/2014,438000.0,3,1.75,1520,6380,1.0,0.0,0.0,...,7,790,730.0,1948,NaN,98115,47.6950,-122.304,1520,6235
29,1873100390,3/2/2015,719000.0,4,2.50,2570,7173,2.0,0.0,0.0,...,8,2570,0.0,2005,0.0,98052,47.7073,-122.110,2630,6026
30,8562750320,11/10/2014,580500.0,3,2.50,2320,3980,2.0,0.0,0.0,...,8,2320,0.0,2003,0.0,98027,47.5391,-122.070,2580,3980
31,2426039314,12/1/2014,280000.0,2,1.50,1190,1265,3.0,0.0,0.0,...,7,1190,0.0,2005,0.0,98133,47.7274,-122.357,1390,1756
32,461000390,6/24/2014,687500.0,4,1.75,2330,5000,1.5,0.0,0.0,...,7,1510,820.0,1929,0.0,98117,47.6823,-122.368,1460,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21564,7853420110,10/3/2014,594866.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,0.0,98065,47.5184,-121.886,2850,6000
21565,7853420110,5/4/2015,625000.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000
21566,3052700432,11/12/2014,490000.0,3,2.25,1500,1290,2.0,0.0,0.0,...,8,1220,280.0,2006,0.0,98117,47.6785,-122.375,1460,1375
21567,2025049203,6/10/2014,399950.0,2,1.00,710,1157,2.0,NaN,0.0,...,7,710,0.0,1943,0.0,98102,47.6413,-122.329,1370,1173
21568,952006823,12/2/2014,380000.0,3,2.50,1260,900,2.0,0.0,0.0,...,7,940,320.0,2007,0.0,98116,47.5621,-122.384,1310,1415
21569,3832050760,8/28/2014,270000.0,3,2.50,1870,5000,2.0,0.0,0.0,...,7,1870,0.0,2009,0.0,98042,47.3339,-122.055,2170,5399
21570,2767604724,10/15/2014,505000.0,2,2.50,1430,1201,3.0,0.0,0.0,...,8,1430,0.0,2009,0.0,98107,47.6707,-122.381,1430,1249
21571,6632300207,3/5/2015,385000.0,3,2.50,1520,1488,3.0,0.0,0.0,...,8,1520,0.0,2006,0.0,98125,47.7337,-122.309,1520,1497
21572,2767600688,11/13/2014,414500.0,2,1.50,1210,1278,2.0,0.0,0.0,...,8,1020,190.0,2007,0.0,98117,47.6756,-122.375,1210,1118
21573,7570050450,9/10/2014,347500.0,3,2.50,2540,4760,2.0,0.0,0.0,...,8,2540,0.0,2010,0.0,98038,47.3452,-122.022,2540,4571
21574,7430200100,5/14/2014,1220000.0,4,3.50,4910,9444,1.5,0.0,0.0,...,11,3110,1800.0,2007,0.0,98074,47.6502,-122.066,4560,11063
21575,4140940150,10/2/2014,572000.0,4,2.75,2770,3852,2.0,0.0,0.0,...,8,2770,0.0,2014,NaN,98178,47.5001,-122.232,1810,5641
21576,1931300412,4/16/2015,475000.0,3,2.25,1190,1200,3.0,0.0,0.0,...,8,1190,0.0,2008,NaN,98103,47.6542,-122.346,1180,1224
21578,5087900040,10/17/2014,350000.0,4,2.75,2500,5995,2.0,NaN,0.0,...,8,2500,0.0,2008,0.0,98042,47.3749,-122.107,2530,5988
21579,1972201967,10/31/2014,520000.0,2,2.25,1530,981,3.0,0.0,0.0,...,8,1480,50.0,2006,NaN,98103,47.6533,-122.346,1530,1282
21580,7502800100,8/13/2014,679950.0,5,2.75,3600,9437,2.0,0.0,0.0,...,9,3600,0.0,2014,0.0,98059,47.4822,-122.131,3550,9421
21581,191100405,4/21/2015,1580000.0,4,3.25,3410,10125,2.0,0.0,0.0,...,10,3410,?,2007,NaN,98040,47.5653,-122.223,2290,10125
21583,7202300110,9/15/2014,810000.0,4,3.00,3990,7838,2.0,0.0,0.0,...,9,3990,0.0,2003,NaN,98053,47.6857,-122.046,3370,6814
21584,249000205,10/15/2014,1540000.0,5,3.75,4470,8088,2.0,0.0,0.0,...,11,4470,0.0,2008,0.0,98004,47.6321,-122.200,2780,8964
21585,5100403806,4/7/2015,467000.0,3,2.50,1425,1179,3.0,0.0,0.0,...,8,1425,0.0,2008,0.0,98125,47.6963,-122.318,1285,1253
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,NaN,0.0,...,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,NaN,0.0,...,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21588,9834201367,1/26/2015,429000.0,3,2.00,1490,1126,3.0,0.0,0.0,...,8,1490,0.0,2014,0.0,98144,47.5699,-122.288,1400,1230
21590,7936000429,3/26/2015,1010000.0,4,3.50,3510,7200,2.0,0.0,0.0,...,9,2600,910.0,2009,0.0,98136,47.5537,-122.398,2050,6200
21591,2997800021,2/19/2015,475000.0,3,2.50,1310,1294,2.0,0.0,0.0,...,8,1180,130.0,2008,0.0,98116,47.5773,-122.409,1330,1265
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [35]:
df[df['yr_renovated'] == 0.0]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,...,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,...,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,...,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,...,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,NaN,0.0,...,8,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,7,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,0.0,0.0,...,7,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,7,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,0.0,3.0,...,9,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,0.0,0.0,...,7,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,0.0,0.0,...,7,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,0.0,0.0,...,7,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
20,6300500875,5/14/2014,385000.0,4,1.75,1620,4980,1.0,0.0,0.0,...,7,860,760.0,1947,0.0,98133,47.7025,-122.341,1400,4980
21,2524049179,8/26/2014,2000000.0,3,2.75,3050,44867,1.0,0.0,4.0,...,9,2330,720.0,1968,0.0,98040,47.5316,-122.233,4110,20336
22,7137970340,7/3/2014,285000.0,5,2.50,2270,6300,2.0,0.0,0.0,...,8,2270,0.0,1995,0.0,98092,47.3266,-122.169,2240,7005
24,3814700200,11/20/2014,329000.0,3,2.25,2450,6500,2.0,0.0,0.0,...,8,2450,0.0,1985,0.0,98030,47.3739,-122.172,2200,6865
25,1202000200,11/3/2014,233000.0,3,2.00,1710,4697,1.5,0.0,0.0,...,6,1710,0.0,1941,0.0,98002,47.3048,-122.218,1030,4705
27,3303700376,12/1/2014,667000.0,3,1.00,1400,1581,1.5,0.0,0.0,...,8,1400,0.0,1909,0.0,98112,47.6221,-122.314,1860,3861
29,1873100390,3/2/2015,719000.0,4,2.50,2570,7173,2.0,0.0,0.0,...,8,2570,0.0,2005,0.0,98052,47.7073,-122.110,2630,6026
30,8562750320,11/10/2014,580500.0,3,2.50,2320,3980,2.0,0.0,0.0,...,8,2320,0.0,2003,0.0,98027,47.5391,-122.070,2580,3980
31,2426039314,12/1/2014,280000.0,2,1.50,1190,1265,3.0,0.0,0.0,...,7,1190,0.0,2005,0.0,98133,47.7274,-122.357,1390,1756
32,461000390,6/24/2014,687500.0,4,1.75,2330,5000,1.5,0.0,0.0,...,7,1510,820.0,1929,0.0,98117,47.6823,-122.368,1460,5000
33,7589200193,11/10/2014,535000.0,3,1.00,1090,3000,1.5,0.0,0.0,...,8,1090,0.0,1929,0.0,98117,47.6889,-122.375,1570,5080
34,7955080270,12/3/2014,322500.0,4,2.75,2060,6659,1.0,0.0,0.0,...,7,1280,780.0,1981,0.0,98058,47.4276,-122.157,2020,8720
36,9435300030,5/28/2014,550000.0,4,1.00,1660,34848,1.0,0.0,0.0,...,5,930,730.0,1933,0.0,98052,47.6621,-122.132,2160,11467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21560,9253900271,1/7/2015,3570000.0,5,4.50,4850,10584,2.0,1.0,4.0,...,10,3540,1310.0,2007,0.0,98008,47.5943,-122.110,3470,18270
21561,3881900317,1/23/2015,579000.0,4,3.25,1900,2631,2.0,0.0,0.0,...,9,1250,650.0,2014,0.0,98144,47.5869,-122.311,1710,4502
21562,567000385,6/23/2014,362500.0,2,1.50,940,1768,2.0,NaN,0.0,...,7,940,0.0,2009,0.0,98144,47.5925,-122.295,1130,1159
21563,7011201004,5/29/2014,645000.0,3,3.25,1730,1229,2.0,0.0,2.0,...,9,1320,410.0,2008,0.0,98119,47.6374,-122.369,1710,1686
21564,7853420110,10/3/2014,594866.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,0.0,98065,47.5184,-121.886,2850,6000
21566,3052700432,11/12/2014,490000.0,3,2.25,1500,1290,2.0,0.0,0.0,...,8,1220,280.0,2006,0.0,98117,47.6785,-122.375,1460,1375
21567,2025049203,6/10/2014,399950.0,2,1.00,710,1157,2.0,NaN,0.0,...,7,710,0.0,1943,0.0,98102,47.6413,-122.329,1370,1173
21568,952006823,12/2/2014,380000.0,3,2.50,1260,900,2.0,0.0,0.0,...,7,940,320.0,2007,0.0,98116,47.5621,-122.384,1310,1415
21569,3832050760,8/28/2014,270000.0,3,2.50,1870,5000,2.0,0.0,0.0,...,7,1870,0.0,2009,0.0,98042,47.3339,-122.055,2170,5399
21570,2767604724,10/15/2014,505000.0,2,2.50,1430,1201,3.0,0.0,0.0,...,8,1430,0.0,2009,0.0,98107,47.6707,-122.381,1430,1249
21571,6632300207,3/5/2015,385000.0,3,2.50,1520,1488,3.0,0.0,0.0,...,8,1520,0.0,2006,0.0,98125,47.7337,-122.309,1520,1497
21572,2767600688,11/13/2014,414500.0,2,1.50,1210,1278,2.0,0.0,0.0,...,8,1020,190.0,2007,0.0,98117,47.6756,-122.375,1210,1118
21573,7570050450,9/10/2014,347500.0,3,2.50,2540,4760,2.0,0.0,0.0,...,8,2540,0.0,2010,0.0,98038,47.3452,-122.022,2540,4571
21574,7430200100,5/14/2014,1220000.0,4,3.50,4910,9444,1.5,0.0,0.0,...,11,3110,1800.0,2007,0.0,98074,47.6502,-122.066,4560,11063
21578,5087900040,10/17/2014,350000.0,4,2.75,2500,5995,2.0,NaN,0.0,...,8,2500,0.0,2008,0.0,98042,47.3749,-122.107,2530,5988
21580,7502800100,8/13/2014,679950.0,5,2.75,3600,9437,2.0,0.0,0.0,...,9,3600,0.0,2014,0.0,98059,47.4822,-122.131,3550,9421
21582,8956200760,10/13/2014,541800.0,4,2.50,3118,7866,2.0,NaN,2.0,...,9,3118,0.0,2014,0.0,98001,47.2931,-122.264,2673,6500
21584,249000205,10/15/2014,1540000.0,5,3.75,4470,8088,2.0,0.0,0.0,...,11,4470,0.0,2008,0.0,98004,47.6321,-122.200,2780,8964
21585,5100403806,4/7/2015,467000.0,3,2.50,1425,1179,3.0,0.0,0.0,...,8,1425,0.0,2008,0.0,98125,47.6963,-122.318,1285,1253
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,NaN,0.0,...,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,NaN,0.0,...,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21588,9834201367,1/26/2015,429000.0,3,2.00,1490,1126,3.0,0.0,0.0,...,8,1490,0.0,2014,0.0,98144,47.5699,-122.288,1400,1230
21589,3448900210,10/14/2014,610685.0,4,2.50,2520,6023,2.0,0.0,NaN,...,9,2520,0.0,2014,0.0,98056,47.5137,-122.167,2520,6023
21590,7936000429,3/26/2015,1010000.0,4,3.50,3510,7200,2.0,0.0,0.0,...,9,2600,910.0,2009,0.0,98136,47.5537,-122.398,2050,6200
21591,2997800021,2/19/2015,475000.0,3,2.50,1310,1294,2.0,0.0,0.0,...,8,1180,130.0,2008,0.0,98116,47.5773,-122.409,1330,1265
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')